.button {
    -fx-pref-width: 200px;
}

#eisenhower {
    -fx-border-insets: 10;
    -fx-min-width: 500px;
}

#open-tasks {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-insets: 10;
    -fx-border-color: gray;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
}

#open-tasks-label {
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black;
    -fx-padding: 10px;
}

.grid-tasks {
    -fx-padding: 20px;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: gray;
}

.task {
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-padding: 5px;
    -fx-border-color: gray;
}

.task-heading {
    -fx-font-style: italic;
}

.drag-source:highlighted {
    -fx-background-color: green;
}

.drop-target:highlighted {
    -fx-background-color: lightgreen;
}